@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

:root {
  --preview: black;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Silkscreen", sans-serif;
}

#title {
  text-align: center;
  margin-top: 30px;
  font-size: 34px;
}

#title:hover {
  cursor: pointer;
  text-shadow: 2px 2px 2px rgb(189, 189, 189);
}

#main-container {
  display: flex;
  width: 850px;
  margin: 0px auto;
}

#sketchbook-container {
  width: 600px;
  height: 600px; 
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}

#controls-container {
  width: 200px;
  height: 576px;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#dimension-value {
  font-size: 25px;
  margin-bottom: 10px;
}

#dimension-input {
  width: 60%;
}

#buttons-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  font-size: 20px;
  width: 55%;
  background-color: white;
  border: 2px solid black;
  color: black;
  cursor: pointer;
}

#rgb-selectors-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#rgb-selectors {
  display: flex;
  flex-direction: column;
  width: 60%;
}

label {
  font-size:20px;
}

input[type='range'] {
  max-width: 100px;
  cursor: pointer;
  -webkit-appearance: none;
  background-color: white;
  border: 2px solid black;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background: black;
  border: 2px solid black;
}

.grid-row {
  display: flex;
  flex-grow: 1;
  margin-bottom: 2px;
}

.grid-block {
  border: 1px black solid;
  flex-grow: 1;
  margin-right: 2px;
}

#color-preview {
  background-color: var(--preview);
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 2px solid black;
}

button:active, #color-preview:active {
  transform: scale(1.1);
}