@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Cute Font", sans-serif;
}

h1 {
  text-align: center;
  padding: 0;
  margin-top: 50px;
}

#main-container {
  display: flex;
  width: 850px;
  margin: 0 auto;
}

#sketchbook-container {
  width: 600px;
  height: 600px; 
  /* border: 0.5px solid black; */
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}

#controls-container {
  width: 200px;
  height: 600px;
  border: 1px solid black;
  margin: 30px auto;
}

.grid-row {
  display: flex;
  flex-grow: 1;
  margin-bottom: 2px;
}

.grid-block {
  border: 1px black solid;
  flex-grow: 1;
  margin-right: 2px;
}
